.match-card {
	height: 80px;
	width: 160px;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 8px;

	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

	&:hover {
		// look to consolidate this
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
		border: 1px solid #fff;
	}

	.overview {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 8px;
		.team {
			display: flex;
			flex-direction: column;
			align-items: center;

			img {
				max-height: 24px;
				max-width: 24px;
			}

			.name {
				font-size: 12px;
			}
		}

		.score {
			font-weight: bold;
		}
	}

	.time {
		text-align: center;
		font-size: 12px;
		color: #0e9;
		font-weight: bold;
		margin-top: 8px;
	}
}